*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "helvetica neue";
    /* color: white; */
    
    

}
html,
body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card{
    /* height: 300px; */
    background-color: beige;
    width: 250px;
    border-radius: 20px;
    padding: 20px 20px ;
    position: absolute;
    /* position: relative; */
    
}
.card div{
    position: relative;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 20px;


}
.card h2{
    font-size: 30px;
    text-align: center;
    
}
.card i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    opacity: 0;
    background-image: url(https://tse4.mm.bing.net/th/id/OIP.A71B8v-ti9TZoOYY8VlVLAHaHa?pid=Api&P=0&h=180);
    /* background: linear-gradient(to right bottom rgb(101, 22, 101),rgb(194, 34, 61)); */
    /* color: transparent; */
    background-clip:text ;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
    transform: translate(-50%,-50%) scale(0) rotate(-60deg);

    
}
.card i{
    transition: all cubic-bezier(.65,1,.77,1.77) 0.5s ;
}

