*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "helvetica neue";
    color: white;
    
    

}

*::-webkit-scrollbar{
    display: none;
}

*{
    scrollbar-width: none;
}
html,
body{
    height: 100%;
    width: 100%;
    background-color: black;
    
    
    
}
main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, rgb(26, 26, 26),rgb(35, 35, 35));
    padding: 20px;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth
}
section{
     height: 100%;
    width: 350px;
    background-color: rgb(181, 181, 179);
    border-radius: 10px;
    margin: auto;
    
    /* overflow:auto; */

    
}


.all-reels{
    height: 100%;
    width: 100%;

}

.reel{
    height: 100%;
    width: 100%;
    position: relative;
    /* background-color: #20b2aa; */
    /* overflow: hidden; */
    border-radius: 10px;
    margin-bottom: 20px;
    scroll-snap-align: start;
    scroll-snap-stop: always;

}
.reel video{
    height: 100%;
    width: 100%;
    object-fit: cover;   
}
.reel .bottom{
    padding: 20px 20px;
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.847));
    width: 100%;
    position: absolute;
    bottom: 0;
}

.bottom .user{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;

}
.bottom .user h4{
    font-size: 18px;
    font-weight: 500;

}
.bottom .user img{
    height: 30px;
    width:  30px;
    object-fit: cover;
    border-radius: 50%;
}

.bottom .user button{
    background-color: transparent;
    padding: 2px 4px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 2px;
    border:  1px solid white;
    cursor: pointer;
}
.bottom>h3{
    font-weight: 600;
    font-size: 20px;

}
.right{
    width: 40px;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    position: absolute;
    right: 0;
    overflow: hidden;
    /* transform: translate(100%); */
    bottom: 12%;
}

.right h4{
    cursor: pointer;
}
.right i {
    font-size: 25px;
    font-weight: 500;
}
.right h6{
    font-size: 15px;
    font-weight: 500;
}
.right>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    cursor: pointer;
}

.love{
    color:red;
}

.right>div h4{
    pointer-events: none;
}

.right>div h6{
    pointer-events: none;
}


.mute{
    background-color: #333;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;

}
.mute i {
    font-size: 22px;
    pointer-events: none;

}
.mute:active{
    scale: 0.95;
}
