*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "helvetica neue";
    color: white;
    
    

}
html,
body{
    height: 100%;
    width: 100%;
    background-color: black;
    
}
:root{
    --x: 400px;
    --y: 400px;
}
body{
    background-image: url(https://images.unsplash.com/photo-1501785888041-af3ef285b470?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fG1vdW50YWlufGVufDB8fDB8fHww);
    background-size: cover;
}
.box{
    height: 100%;
    width: 100%;
    /* border: 1px solid white;/ */
    background:radial-gradient(150px at var(--x) var(--y), rgba(255, 255, 255, 0) 0% , rgba(0, 0, 0, 0.97) 80%  ) ;
}