*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    color: white;
}
html,
body{
    height: 100%;
    width: 100%;
    background-color: black;
    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
p{
    color: rgb(5, 217, 5);
    font-size: 2em;
    font-family: monospace;
}
