*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "helvetica neue";
    
    

}
html,
body{
    height: 100%;
    width: 100%;
    background-color: black;
    
}
main{
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
 
}
.card{
    /* height: 350px; */
    width: 250px;
    background-color: rgb(57, 122, 79);
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    
}
.card img {
    height:150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 5px;
    
}
.card h3{
    font-size: 30px;
    white-space: nowrap;

}
.card h4{
    font-size: 18px;
    margin-top: 10px;
    color: rgb(81, 30, 40);
    margin-bottom: 10px;

}
.card p {
    font-size: 15px;
}