*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "helvetica neue";
    
    

}
html,
body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display:flex ;
    align-items: center;
    justify-content: center;
}
h1{
    color: white;
    font-size: 100px;
}

/* button{
    padding: 20px 30px;
    background-color: rgb(148, 148, 26);
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 50px;
}

button:active{
    scale: 0.95; */

.card{
   
    width: 500px;
    background-color: white;
    border-radius: 20px;
    padding: 50px 30px ;

}
.card p {
    text-align: center;
    margin-bottom: 35px;
    font-size: 25px;
    font-weight: 400;
    font-family: monospace;

}
.card p span{
    font-weight: 700;
    color: royalblue
}


.outer{
    height: 15px;
    width: 100%;
    border-radius: 50px;
    background-color: rgb(197, 197, 197);
    
}

.inner{
    height: 100%;
    border-radius: 50px;
    width: 0%;
    background-color: green;
}
.buttom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.buttom h2 {
    font-size: 60px;
    
}
.buttom button{
    padding: 12px 25px;
    background-color: green;
    font-weight: 600;
    border-radius: 8px;
    font-size: 40px;
    cursor: pointer;
}

.buttom button:active{
    scale: 0.95;
}
