@font-face {
    font-family: seb;
    src: url(./sf-pro-display_regular.woff2);
}






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}



   



#nav{
    width: 100%;
    height: 50Px;
    background-color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-family: seb;
    position: fixed;
    cursor: pointer;
    

}
#nav h4{
    color: rgba(0, 0, 0, 0.584);
    font-weight: 300px;


}


#center{
     height: 100%;
     width: 100%;
     background-image:  url(./hero_iphone_17_pro__bknyzxfk2agi_medium.jpg);
     background-position: center;
     background-size: cover;
     
     text-align: center;
     padding: 60px ;
     cursor: pointer;

}
#center h1{
    color: white;
    font-size: 60px;
    font-weight: 600;
}


#center h5{
    color: white;
    font-size: 30px;
    font-weight: 300 ;
}

#links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    cursor: pointer;
}
#links button{
    background-color: royalblue;
    color: white;
    padding: 13px 20px;
    border-radius: 50px;
    border: none;
    font-weight: 300;
    font-size: 15px;
}


#links button:hover{
    background-color: transparent;
}

#main{
    padding: 10px 10px;
}



#lower{
    width: 100%;
    height: 100%;
    background-color:whitesmoke;
    text-align: center;
    padding: 60px;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-air/hero_iphone_air__0gxyavihpiqu_medium.jpg);
    background-size: cover;
    background-position: center;
    cursor: pointer;


    
}
#lower h1{
    color: black;
    text-align: center;
    font-size: 60px ;
    font-weight: 550;
    font-family: seb;
    
   
}
#lower h5{
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    font-family: seb;
   
    
}

#links2{
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 30px;
    padding: 20px;
}
#links2 button{
    background-color: royalblue;
    color: white;
    padding: 13px 20px;
    border-radius: 50px;
    border: none;
    font-weight: 300;
    font-size: 15px;
    cursor: pointer;
    
}
#links2 button:hover{
    background-color: transparent;
    color: black;

}


#main2{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    padding: 10px 10px;
    cursor: pointer;
}
#box1{
    height: 100%;
    width: 50%;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/iphone-17/promo_iphone_17__bhofuohbsu3m_medium.jpg);
    background-size: cover;
    background-position: center;
    padding: 12px 5px;
    margin: 8px;
}

#box2{
    height: 100%;
    width: 50%;
    background-image: url(https://www.apple.com/in/home/images/promos/apple-watch-series-11/promo_apple_watch_series_11__b63hxviqvonm_medium.jpg);
    background-size: cover;
    background-position: center;
    padding: 12px 5px;
    margin: 8px;

}
#box1 h3{
    color: black;
    text-align: center;
    font-size: 60px ;
    padding: 15px;
}
#box1 h6{
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: 100;

}


#box2 h3{
    color: black;
    text-align: center;
    font-size: 60px ;
    padding: 15px;
}
#box2 h6{
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: 100;

}


#links3{
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 30px;
    padding: 20px;
}
#links3 button{
    background-color: royalblue;
    color: white;
    padding: 13px 20px;
    border-radius: 50px;
    border: none;
    font-weight: 300;
    font-size: 15px;
    cursor: pointer;
    
}
#links3 button:hover{
    background-color: transparent;
    color: black;

}



#links4{
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 30px;
    padding: 20px;
}
#links4 button{
    background-color: royalblue;
    color: white;
    padding: 13px 20px;
    border-radius: 50px;
    border: none;
    font-weight: 300;
    font-size: 15px;
    cursor: pointer;
    
}
#links4 button:hover{
    background-color: transparent;
    color: black;

}


#main3{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    padding: 10px 10px;
    cursor: pointer;

}

#box3{
    height: 100%;
    width: 50%;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/education/promo_edu__efkxh2h1luoi_medium.jpg);
    background-size: cover;
    background-position: center;
    padding: 12px 5px;
    margin: 8px;
}

#box4{
    height: 100%;
    width: 50%;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/airpods-pro-3/promo_airpodspro_3__f6xmza7bglei_medium.jpg);
    background-size: cover;
    background-position: center;
    padding: 12px 5px;
    margin: 8px;

}

#box3 h3{
    color: black;
    text-align: center;
    font-size: 60px ;
    

    
}
#box3 h6{
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: 100;

}

#box4 h2{
    color: black;
    padding: 15px;
    
    text-align: center;
    font-size: 60px ;
}
#box4 h6{
    color: black;
    text-align: center;
   
    font-size: 25px;
    font-weight: 100;

}



#links5{
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 30px;
    padding: 20px;
}


#links5 button{
    background-color: royalblue;
    color: white;
    padding: 13px 20px;
    border-radius: 50px;
    border: none;
    font-weight: 300;
    font-size: 15px;
    cursor: pointer;
    
}
#links5 button:hover{
    background-color: transparent;
    color: black;

}


#links6{
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 30px;
    padding: 20px;
}
#links6 button{
    background-color: royalblue;
    color: white;
    padding: 13px 20px;
    border-radius: 50px;
    border: none;
    font-weight: 300;
    font-size: 15px;
    cursor: pointer;
    
}
#links6 button:hover{
    background-color: transparent;
    color: black;

}



#main4{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    padding: 10px 10px;
    cursor: pointer;

}

#box5{
    height: 100%;
    width: 50%;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/ipad-air/promo_ipad_air__bfbxzvw65c02_medium.jpg);
    background-size: cover;
    background-position: center;
    padding: 12px 5px;
    margin: 8px;
}

#box6{
    height: 100%;
    width: 50%;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/iphone-tradein/promo_iphone_tradein__bugw15ka691e_medium.jpg);
    background-size: cover;
    background-position: center;
    padding: 12px 5px;
    margin: 8px;

}


#box5 h2{
    color: black;
    text-align: center;
    font-size: 50px ;
    padding: 15px;
}
#box5 h6{
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    

}
#ankit{
    display: flex;
    justify-content: center;
    
}

#box6 h2{
    color: black;
    padding: 15px;
    text-align: center;
    font-size: 60px ;
}
#box6 h6{
    color: black;
    text-align: center;
    
    font-size: 25px;
    font-weight: 100;

}

#links7{
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 30px;
    padding: 20px;
}



#links7 button{
    background-color: royalblue;
    color: white;
    padding: 13px 20px;
    border-radius: 50px;
    border: none;
    font-weight: 300;
    font-size: 15px;
    cursor: pointer;
    
}
#links7 button:hover{
    background-color: transparent;
    color: black;

}


#links8{
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 30px;
    padding: 20px;
}
#links8 button{
    background-color: royalblue;
    color: white;
    padding: 13px 20px;
    border-radius: 50px;
    border: none;
    font-weight: 300;
    font-size: 15px;
    cursor: pointer;
    
}
#links8 button:hover{
    background-color: transparent;
    color: black;

}







